.App {
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-direction: column;
}

.App-header {
  display: flex;
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Form-wrapper {
  width: 40%;
  padding-left: 40px;
}

.Content-wrapper {
  padding: 40px;
}
